dashboard/flows.json
[
    {
        "id": "9f09302d35d402c7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e63703e9a9ab153e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "53c06e3ef6edacd1",
        "type": "ui_tab",
        "name": "Monitorizare IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "adaefd155c51e39a",
        "type": "ui_group",
        "name": "Date de mediu",
        "tab": "53c06e3ef6edacd1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4eaf4162910e648",
        "type": "ui_group",
        "name": "Control Ventilator",
        "tab": "53c06e3ef6edacd1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt_temperature",
        "type": "mqtt in",
        "z": "9f09302d35d402c7",
        "name": "Temperatură",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 890,
        "y": 460,
        "wires": [
            [
                "chart_temperature"
            ]
        ]
    },
    {
        "id": "mqtt_humidity",
        "type": "mqtt in",
        "z": "9f09302d35d402c7",
        "name": "Umiditate",
        "topic": "humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 890,
        "y": 560,
        "wires": [
            [
                "chart_humidity"
            ]
        ]
    },
    {
        "id": "chart_temperature",
        "type": "ui_chart",
        "z": "9f09302d35d402c7",
        "name": "Grafic Temperatură",
        "group": "adaefd155c51e39a",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperatura (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Așteptare...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_humidity",
        "type": "ui_chart",
        "z": "9f09302d35d402c7",
        "name": "Grafic Umiditate",
        "group": "adaefd155c51e39a",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Umiditatea (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Așteptare...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "ventilator_button",
        "type": "ui_button",
        "z": "9f09302d35d402c7",
        "name": "Ventilator",
        "group": "b4eaf4162910e648",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Control Ventilator",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-fan",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "fan/control",
        "topicType": "str",
        "x": 890,
        "y": 660,
        "wires": [
            [
                "mqtt_fan_control"
            ]
        ]
    },
    {
        "id": "mqtt_fan_control",
        "type": "mqtt out",
        "z": "9f09302d35d402c7",
        "name": "ON / OFF",
        "topic": "fan/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 1060,
        "y": 660,
        "wires": []
    }
]
